@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lato', sans-serif;
}

.btn {
  @apply rounded-full capitalize;
}

input[type="text"], input[type="number"] {
  @apply rounded-full;
}

iframe {
  @apply rounded-sm my-4 w-full;
}
